body,
html {
  overflow: hidden;
}

body {
  background-color: #8e8d8d;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.content {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 8vh auto;
  grid-template-areas:
    "header header header"
    "menue  main   right";
  gap: 10px;
}

.header {
  /* border: 1px solid black; */
  /* height: 8vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  grid-area: header;
}
.menue {
  border: 1px solid black;
  grid-area: menue;
}
.main {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: main;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fullScr {
  border-radius: 10px;
  height: 200px;
  width: 300px;
  background-color: #542323;
}

.fullScrBtn {
  background-color: #54ccff;
  margin: 5px 0px 20px 0px;
}

.colorCatagory {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.colorCatagory div {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.white {
  background-color: #fff;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}

.right {
  border: 1px solid black;
  grid-area: right;
}

@media screen and (max-width: 900px) {
  .content {
    grid-template-areas:
      "header header header"
      "main main main";
    gap: 0px;
  }

  .menue {
    display: none;
  }

  .main {
    padding: 0px;
    margin: 0px;
  }

  .right {
    display: none;
  }
}
